---
layout: default
title: grant frazier
htmlClass: html
bodyClass: body
---

<div class="home-container">
 <div class="title-block">
   <h1 class="name">grant frazier</h1>
   <p> // twtr: <a href="https://x.com/gantisdant">@gantisdant</a></p>
   <p> // instgrm: <a href="https://instagram.com/gant.fr">@gant.fr</a></p>
   <p> // blsky: <a href="https://bsky.app/profile/gant.foo">@gant.foo</a></p>
 </div>
  <h4>occasionally publishes under the name 'grant ellsworth.'</h4>

<h2>published prose</h2>
 <ul class="work-list">
 {% for essay in collections.essays %}
   <li>
     <a href="{{ essay.url }}">{{ essay.data.title }}</a>
     <div class="meta-info">
       {% if essay.data.publicationUrl %}
         <a href="{{ essay.data.publicationUrl }}" class="publication">{{ essay.data.publication }}</a>
       {% else %}
         <span class="publication">{{ essay.data.publication }}</span>
       {% endif %}
       <span class="date">// {{ essay.data.date | format("MMM yyyy") }}</span>
     </div>
   </li>
 {% endfor %}
 </ul>

 <h2>published poems</h2>
 <ul class="work-list">
 {% for poem in collections.poems %}
 <li>
   <a href="{{ poem.url }}">{{ poem.data.title }}</a>
   <div class="meta-info">
     {% if poem.data.publicationUrl %}
       <a href="{{ poem.data.publicationUrl }}">{{ poem.data.publication }}</a>
     {% else %}
       <span>{{ poem.data.publication }}</span>
     {% endif %}
     <span class="separator"> // </span>
     <span>{{ poem.data.date | format("MMM yyyy") }}</span>
   </div>
 </li>
 {% endfor %}
 </ul>

</div>
