---
layout: default
title: grant frazier
htmlClass: html
bodyClass: body
---

<div class="home-container">
  <div class="title-block">
    <h1 class="name">Grant Frazier</h1>
    <p class="subtitle">is an author in chicago who writes poems, mostly.</p>
  </div>

  <h2>Published Poems</h2>
  <ul>
  {% for poem in collections.poems %}
  <li>
    <a href="{{ poem.url }}">{{ poem.data.title }}</a>
    <div class="meta-info">
      {% if poem.data.publicationUrl %}
        <a href="{{ poem.data.publicationUrl }}">{{ poem.data.publication }}</a>
      {% else %}
        <span>{{ poem.data.publication }}</span>
      {% endif %}
      <span class="separator"> // </span>
      <span>{{ poem.data.date | format("MMM yyyy") }}</span>
    </div>
  </li>
  {% endfor %}
  </ul>
</div>
