---
layout: default
title: grant frazier
htmlClass: html
bodyClass: body
---
<div style="padding: 0 3rem; max-width: 800px; width: 100%;">
  <h1>Grant Frazier <span style="font-weight: normal; font-size: 0.7em;">is an author in chicago.</span></h1>

  <h2>Published Poems</h2>
  <ul>
  {% for poem in collections.poems %}
    <li><a href="{{ poem.url }}">{{ poem.data.title }}</a></li>
  {% endfor %}
  </ul>
</div>
